a {
text-decoration: none;
color: white;

}

.btn{
  width: 100px;
  height: 100px;
  border-style: none;
  background: rgba(40, 61, 81, 0.45);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  background: rgba( 36, 211, 126, 0.70 );
backdrop-filter: blur( 15.0px );
-webkit-backdrop-filter: blur( 15.0px );
border-radius: 10px;
}
