.newTraining {
  width: 100px;
  height: 100px;
  border-style: none;
  background: rgba(241, 20, 20, 0.45);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
}
