.startTraining {
  width: 100px;
  height: 100px;
  border-style: none;
  border-radius: 10px;
  background: rgba( 135, 146, 146, 0.70 );
backdrop-filter: blur( 15.0px );
-webkit-backdrop-filter: blur( 15.0px );
border-radius: 10px;
}
