body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/people-2604149_1920.jpg");
  background-size: cover;
  background-repeat: no repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-position:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  height: 100%;
  width: 100%;
}
