.wrapper {
    min-height: 80%;
    max-width: 270px;
    background-color: tomato;
    margin: 30px auto;
    background: rgba(123, 119, 119, 0.45);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    
  }
  