.wrapper {
  display: flex;
  height: 25px;
  justify-content: space-around;
  align-items: center;
}

.input {
  width: 50px;
  border-style: none;
  border-radius: 3px;
}

.trash {
  padding-top: 2.5px;
  background: rgba(241, 38, 38, 0.856);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.icon {
  font-size: 16px;
  background-color: transparent;
  margin: 0;
}
